{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}

<script type="text/javascript">
  function checkPassword() {
    var pwd = document.getElementById("newpassword").value;
    var pwd1 = document.getElementById("confirmnewpassword").value
    if (pwd != pwd1) {
      alert("Password mismatch");
      return;
    }
    else {
      myform.submit();
    }
  }
</script>

<div class="container my-5">
  {% if messages %}
  {%for message in messages%}
  <center>
    <div class="alert alert-success alert-dismissible">
      <p style="color: black;">{{ message }}</p>
    </div>
  </center>
  {%endfor%}
  {% endif %}
  <div class="row">
    <h3>Welcome Pawan</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="/changepassword" class="btn btn-primary">Change Password</a></li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <form method="POST" name="myform">
        {%csrf_token%}
        <div class="mb-3">
          <label for="uname" class="form-label">Username</label>
          <input type="text" name="uname" id="uname" class="form-control" autofocus required>
        </div>
        <div class="mb-3">
          <label for="oldpassword" class="form-label">Old Password</label>
          <input type="password" name="oldpassword" id="oldpassword" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="newpassword" class="form-label">New Password</label>
          <input type="password" name="newpassword" id="newpassword" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="confirmnewpassword" class="form-label">Confirm New Password</label>
          <input type="password" name="confirmnewpassword" class="form-control" id="confirmnewpassword"
            onblur="checkPassword();">
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  </form>
</div>
{% endblock main-content %}