{% extends 'base.html' %}
{% load static %}
{% block title %}electronics{% endblock title %}
{% block main-content %}

<div class="m-3">
    <div class="container my-5">
        <center>
            <h1>{{ele_name}}</h1>
        </center>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% for ep in electronicsproducts %}
                    <div class="col-sm-4 text-center mb-2"><a href="#" class="btn"></a>
                        <div class="item"><img src="{{ ep.electronicsproduct_image.url }}" alt="" height="200" class="">
                            <div class="fw-bold">{{ep.electronicsproductname}}</div>
                            <div class="fw-bold">₹. {{ep.price}}</div>
                            <h6><a href="/ShoweleproDetails/{{ep.id}}">Show Details</a></h6>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}