{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
    {% if messages %}
        {%for message in messages%}
        <center>
        <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" style="color: red;"
                     data-dismiss="alert">&times;</button>
                <strong style="color: red;">Failed!</strong> <p style="color: black;">{{ message }}</p>     
        </div>
        </center>
        {%endfor%}
    {% endif %}
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {%csrf_token%}
                <div class="mb-3">
                    <label for="uname" class="form-label">Username</label>
                    <input type="text" name="uname" id="uname" class="form-control" autofocus required />
                </div>
                <div class="mb-3">
                    <label for="uname" class="form-label">Password</label>
                    <input type="password" id="pwd" name="pwd" class="form-control" required />
                </div>
                <small><a href="#">Forgot Password ?</a></small> <br>
                <center><input type="submit" class="btn btn-primary mt-4" value="Login"></center>
                <br>
                <div class="text-center text-primary fw-bold"><small>New to shopCart ? <a href="/signup"
                            class="text-danger">Create an Account</a> </small></div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}